<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChartsTesting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A62C2191C5F440F0036CDD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A62C22D1C5F44100036CDD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A62C2381C5F44100036CDD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
